PORT=3001
HOST=0.0.0.0
API_BASE_URL=http://10.1.1.198:9000
API_USUARIO=seu_usuario_api
API_SENHA=sua_senha_api
AUTH_TOKEN_HEADER=token

PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DATABASE=superama

SESSION_SECRET=troque-por-uma-chave-longa-e-aleatoria
SESSION_EXPIRES_IN=7d

# Payload cadastro /v2.0/clientes (modelo validado)
CADASTRO_UF=PR
CADASTRO_CEP=85845001
CADASTRO_CIDADE=5
CADASTRO_ENDERECO=Rua 2 Exemplo
CADASTRO_CLASSE=564
CADASTRO_ESCOLARIDADE=SUPERIOR
CADASTRO_ESTADO_CIVIL=SOLTEIRO
CADASTRO_SEXO_PADRAO=M
CADASTRO_CONTRIBUINTE=S
CADASTRO_UNIDADE=001
CADASTRO_VENDEDOR=1234
CADASTRO_RAMO=GERENTE
CADASTRO_CARAC_TRIB=AAA
CADASTRO_RG=5654654
CADASTRO_ORGAO_EXP_RG=SESPR
CADASTRO_FONE_COMERCIAL=45465468
